.footer {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text {
    padding: 20px 0;
    letter-spacing: 1px;
    opacity: .5;
}